* {
  font-family: Roboto;
}

body {
  margin: 0;
  padding: 0;
  background: #F5F5F5 0% 0% no-repeat padding-box;
  /* box-shadow: 0px 3px 6px #00000029; */
  opacity: 1;
}

.main-container {
  max-width: 874px !important;
  padding-top: 64px;
  /* border: solid 1px lightgray; */
}

/* .search-bar-container {

} */

.search-bar-input {
  max-width: 777px;
  height: 46px;
  width: 100%;
  text-align: left;
  font: normal normal normal 18px/24px Roboto;
  letter-spacing: 0px;
  color: #00000099;
  opacity: 0.8;
  padding-left: 45px;
  background-image: url(images/search.svg);
  background-color: white;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 20px 15px;
  border: 0;

  box-shadow: 0px 3px 6px #00000029;
}

.search-bar-input:focus {
  outline: none;
  box-shadow: 0px 6px 9px #00000029;
}

.progress-bar-container {
  padding: 10px 0 20px 0;
}

.progress-bar-container label {
  text-align: left;
  font: normal normal medium 18px Roboto;
  letter-spacing: 0px;
  color: #00000099;
  opacity: 1;
  font-weight: 500;
}

.progress-bar-underlayer {
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  display: block;
  margin-top: 8px;
  opacity: 0.24;
  z-index: 0;
  float: left;
}

.progress-bar {
  width: 0%;
  height: 4px;
  background-color: #2196F3;
  display: block;
  margin-top: 8px;
  z-index: 1;
}

.note-tabs-container {
  margin: 25px 0 !important;
}

.active-tab-btn {
  font-size: 16px;
  text-align: center;
  display: inline;
  text-transform: capitalize;
  margin-right: 20px;
  background-color: #69BCFF;
  color: #FFFFFF;
  width: 89px;
}

.tab-btn {
  font-size: 16px;
  letter-spacing: 0px;
  background-color: none !important;
  color: #00000099 !important;
  opacity: 0.8;
  display: inline;
  text-transform: capitalize !important;
  margin-right: 18px !important;
  font-weight: 300;
  width: 89px;
}

.add-note-btn {
  text-align: left;
  font-size: 16px;
  letter-spacing: 1.25px;
  background-color: #2196F3 !important;
  color: #FFFFFF !important;
  opacity: 1;
  text-transform: uppercase;
  margin-right: 0;
  float: right;
  font-weight: 300 !important;
}

.notes-container {
  padding: 10px 0;
}

.note-item-container {
  max-width: 375px;
  height: 174px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 4px;
  opacity: 1;
  padding: 14px;
  color: #FFFFFF;
}

.note-item-completed {
  background: #282E2999 0% 0% no-repeat padding-box;
  text-decoration: line-through !important; 
}

.note-item-completed * {
  text-decoration: line-through !important; 
}

.note-item-home {
  background: #FF9100 0% 0% no-repeat padding-box;
}

.note-item-work {
  background: #5C6BC0 0% 0% no-repeat padding-box;
}

.note-item-personal {
  background: #66BB6A 0% 0% no-repeat padding-box;
}

.note-item-content {
  padding: 0px;
  margin: 0;
  text-align: left;
  color: #FFFFFF;
}

.note-item-title {
  font-size: 20px;
  padding-left: 20px;
  /* padding-top: 5px; */
  letter-spacing: 0.5px;
  float: left;
  width: 265px; /*not the best way to handle... todo this*/
}

.note-item-date {
  letter-spacing: 0.7px;
  opacity: 0.8;
  font-size: 15px;
  font-weight: 300;
}

.note-item-content p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
  opacity: 0.8;
  height: 102px;
  overflow: hidden;
}

.note-item-chbx {
  padding: 0px !important;
  color: white !important;
  float: left;
  margin-left: -2px !important;
  opacity: 0.6;
}

.note-edit-icon {
  /* float: right; */
  display: flex;
  cursor: pointer;
  padding-left: 10px;
  opacity: 0.6;
}

.note-delete-icon {
  /* float: right; */
  display: flex;
  cursor: pointer;
  padding-left: 10px;
  opacity: 0.6;
}

.note-delete-container {
  display: inline;
}

.note-delete-popper {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  width: 350px;
  height: 114px;
  padding: 0 10px;
}

.note-delete-title {
  font-size: 16px;
  letter-spacing: 0px;
  color: #00000099;
  padding-left: 8px;
}

.note-delete-btn {
  letter-spacing: 1.25px;
  color: #03A9F4 !important;
  text-transform: uppercase;
  opacity: 1;
  margin-top: 15px !important;
  position: absolute !important;
  right: 15px;
}

.note-cancel-btn {
  letter-spacing: 1.25px;
  color: #03A9F4 !important;
  text-transform: uppercase;
  opacity: 1;
  margin-top: 15px !important;
  position: absolute !important;
  right: 90px;
}

.home-btn-span {
  background: #FF9100 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  display: block;
  position: absolute;
  top: 25px;
  right: 42px;
}

.work-btn-span {
  background: #5C6BC0 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  display: block;
  position: absolute;
  top: 25px;
  right: 42px;
}

.personal-btn-span {
  background: #66BB6A 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  display: block;
  position: absolute;
  top: 25px;
  right: 42px;
}

.no-notes-container p {
  text-align: center;
  font-size: 34px;
  letter-spacing: 0px;
  color: #00000099;
  opacity: 0.6;
}

.no-notes-img {
  width: 258px;
  height: 278px;
  background: transparent url(images/search-result.svg) 0% 0% no-repeat padding-box;
  opacity: 1;
  display: block;
  margin: auto;
}

/* .footer {

} */